<section class="container my-5">
  <h2 class="text-center mb-4">Nuestros Clientes</h2>
  <div class="row justify-content-center">
    <div class="col-md-2 col-4">
      <img src="ruta_logo_empresa_1.png" alt="Logo Empresa 1" class="img-fluid">
    </div>
    <div class="col-md-2 col-4">
      <img src="ruta_logo_empresa_2.png" alt="Logo Empresa 2" class="img-fluid">
    </div>
    <div class="col-md-2 col-4">
      <img src="ruta_logo_empresa_3.png" alt="Logo Empresa 3" class="img-fluid">
    </div>
    <div class="col-md-2 col-4">
      <img src="ruta_logo_empresa_4.png" alt="Logo Empresa 4" class="img-fluid">
    </div>
    <div class="col-md-2 col-4">
      <img src="ruta_logo_empresa_5.png" alt="Logo Empresa 5" class="img-fluid">
    </div>
    <div class="col-md-2 col-4">
      <img src="ruta_logo_empresa_6.png" alt="Logo Empresa 6" class="img-fluid">
    </div>
  </div>
</section>
