<section class="container my-5">
  <h2 class="text-center mb-4">Nuestros Clientes</h2>
  <div class="row justify-content-center">
    <div class="col-md-2 col-4">
      <img src="../../../assets/img/0_ELEMENTAL.webp" alt="Logo Empresa 1" class="img-fluid">
    </div>
    <div class="col-md-2 col-4">
      <img src="../../../assets/img/0_CODE.webp" alt="Logo Empresa 2" class="img-fluid">
    </div>
    <div class="col-md-2 col-4">
      <img src="../../../assets/img/0_BALANCE.webp" alt="Logo Empresa 3" class="img-fluid">
    </div>
    <div class="col-md-2 col-4">
      <img src="../../../assets/img/0_MASS.webp" alt="Logo Empresa 4" class="img-fluid">
    </div>
    <div class="col-md-2 col-4">
      <img src="../../../assets/img/0_ASK.webp" alt="Logo Empresa 5" class="img-fluid">
    </div>
    <div class="col-md-2 col-4">
      <img src="../../../assets/img/0_SISPRE.webp" alt="Logo Empresa 6" class="img-fluid">
    </div>
  </div>
</section>
