<div class="container mt-5 text-center">
  <h1>Oferta especial para su sitio web</h1>
  <div class="d-flex justify-content-center align-items-center mt-3">
    <span class="mr-3 mt-2">Mensual</span>
    <div class="custom-control custom-switch mt-2">
      <input type="checkbox" class="custom-control-input" id="switchPlan" onclick="togglePlanPrice()">
      <label class="custom-control-label" for="switchPlan"></label>
    </div>
    <span class="ml-3 mt-2">Anual</span>
  </div>
  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <h3>De Primera Calidad</h3>
          <!-- Agrega el id "price1" para el precio del primer plan -->
          <h4 id="price1" style="color: #F49A24;">$9.99/MES</h4>
          <p>Rendimiento estándar</p>
          <p>Almacenamiento SSD de 30 GB</p>
          <p>Copias de seguridad semanales</p>
          <p>Correos electrónicos 10</p>
          <p>SSL ($3)</p>
          <p>Dominio .com ($5.90)</p>
          <p>Dirección IP dedicada</p>
          <button class="btn btn-primary px-4 py-2">Añadir Carrito</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <h3>De Primera Calidad</h3>
          <!-- Agrega el id "price2" para el precio del segundo plan -->
          <h4 id="price2" style="color: #005CFE;">$9.99/MES</h4>
          <p>Rendimiento estándar</p>
          <p>Almacenamiento SSD de 30 GB</p>
          <p>Copias de seguridad semanales</p>
          <p>Correos electrónicos 10</p>
          <p>SSL ($3)</p>
          <p>Dominio .com ($5.90)</p>
          <p>Dirección IP dedicada</p>
          <button class="btn btn-c btn-primary px-4 py-2">Añadir Carrito</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <h3>De Primera Calidad</h3>
          <!-- Agrega el id "price3" para el precio del tercer plan -->
          <h4 id="price3" style="color: #F49A24;">$9.99/MES</h4>
          <p>Rendimiento estándar</p>
          <p>Almacenamiento SSD de 30 GB</p>
          <p>Copias de seguridad semanales</p>
          <p>Correos electrónicos 10</p>
          <p>SSL ($3)</p>
          <p>Dominio .com ($5.90)</p>
          <p>Dirección IP dedicada</p>
          <button class="btn btn-primary px-4 py-2">Añadir Carrito</button>
        </div>
      </div>
    </div>
  </div>
</div>
