<section class="container my-5">
  <div class="row">
    <!-- Testimonios -->
    <div class="col-md-6">
      <h2 class="mb-4">Opiniones de CloudCode</h2>
      <p>Descubre lo que nuestros clientes dicen sobre su experiencia con CloudCode:</p>
      <!-- Testimonio 1 -->
      <div class="media my-4">
        <img src="../../../assets/img/icons8-user-avatar.gif" class="mr-3 rounded-circle" alt="Usuario 1">
        <div class="media-body">
          <h5 class="mt-0">Ricardo Mendoza</h5>
          <p class="mb-0">¡CloudCode es simplemente majestuoso!</p>
        </div>
      </div>
      <!-- Testimonio 2 -->
      <div class="media my-4">
        <img src="../../../assets/img/icons8-user-avatar.gif" class="mr-3 rounded-circle" alt="Usuario 2">
        <div class="media-body">
          <h5 class="mt-0">Jean Suarez</h5>
          <p class="mb-0">No puedo creer lo eficiente y genial que es CloudCode.</p>
        </div>
      </div>

      <!-- Testimonio 4 -->
      <div class="media my-4">
        <img src="../../../assets/img/icons8-user-avatar.gif" class="mr-3 rounded-circle" alt="Usuario 4">
        <div class="media-body">
          <h5 class="mt-0">Ramiro Zegarra</h5>
          <p class="mb-0">Doy fe de que CloudCode es la mejor elección.</p>
        </div>
      </div>
     
    </div>
    <!-- Valoración -->
    <div class="col-md-6">
      <div class="bg-primary text-white py-4 px-5 rounded">
        <h3 class="mb-4">Rápido y de confianza</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
        <div class="mt-4">
          <img src="ruta_estrellas.png" alt="5 estrellas" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
