<section class="container my-5">
  <div class="row">
    <!-- Testimonios -->
    <div class="col-md-6">
      <h2 class="mb-4">Opiniones de CloudCode</h2>
      <p>Descubre lo que nuestros clientes dicen sobre su experiencia con CloudCode:</p>
      <!-- Testimonio 1 -->
      <div class="media my-4">
        <img src="ruta_imagen_usuario_1.png" class="mr-3 rounded-circle" alt="Usuario 1">
        <div class="media-body">
          <h5 class="mt-0">Isabel II del Reino Unido</h5>
          <p class="mb-0">¡CloudCode es simplemente majestuoso! Su servicio es tan rápido que incluso mis carruajes quedan obsoletos. Lo recomiendo encarecidamente a todas las coronas del mundo. ¡5 estrellas! 👑🌟</p>
        </div>
      </div>
      <!-- Testimonio 2 -->
      <div class="media my-4">
        <img src="ruta_imagen_usuario_2.png" class="mr-3 rounded-circle" alt="Usuario 2">
        <div class="media-body">
          <h5 class="mt-0">Mark Zuckerberg</h5>
          <p class="mb-0">No puedo creer lo eficiente y genial que es CloudCode. Incluso Facebook se aloja con ellos. Es el mejor servicio de alojamiento que he utilizado. ¡5 estrellas! 👨‍💻🌟</p>
        </div>
      </div>

      <!-- Testimonio 4 -->
      <div class="media my-4">
        <img src="ruta_imagen_usuario_4.png" class="mr-3 rounded-circle" alt="Usuario 4">
        <div class="media-body">
          <h5 class="mt-0">Cuevana.io</h5>
          <p class="mb-0">Doy fe de que CloudCode es la mejor elección para mantener mi página en las sombras! Su servicio es tan impecable y discreto que ni el FBI ni la Interpol pueden encontrarme. ¡5 estrellas negras!🌟</p>
        </div>
      </div>
      <!-- Testimonio 3 -->
      <div class="media my-4">
        <img src="ruta_imagen_usuario_3.png" class="mr-3 rounded-circle" alt="Usuario 3">
        <div class="media-body">
          <h5 class="mt-0">Barack Obama</h5>
          <p class="mb-0">Estoy impresionado con el soporte técnico y la calidad del servicio de CloudCode. Es tan bueno que incluso estoy pensando en establecer mi biblioteca presidencial en sus servidores. ¡5 estrellas! 🇺🇸🌟</p>
        </div>
      </div>
    </div>
    <!-- Valoración -->
    <div class="col-md-6">
      <div class="bg-primary text-white py-4 px-5 rounded">
        <h3 class="mb-4">Rápido y de confianza</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
        <div class="mt-4">
          <img src="ruta_estrellas.png" alt="5 estrellas" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
