<!-- Sección de Garantías -->
<div class="container-fluid mt-5 text-center py-5" style="background-image: url('../../../assets/img/garantiaback.png'); background-size: 100% 100%; background-position: center;">
  <h2 >Somos un alojamiento fiable para su empresa</h2>
  <div class="row mt-5 justify-content-center text-white">
    <div class="col-md-3 mx-2">
      <img src="../../assets/img/g1.png" alt="Garantía de devolución del dinero" class="img-fluid custom-img mb-4" style="background-color: #FF5068;">
      <h4>Sencillo, rápido y ampliable</h4>
      <p>Mejora tu experiencia en CloudCode con nuestras soluciones poderosas y simplifica tus procesos.</p>
    </div>
    <div class="col-md-3 mx-2">
      <img src="../../assets/img/g2.png" alt="Garantía de devolución del dinero" class="img-fluid custom-img mb-4" style="background-color: #FA6938;">
      <h4>Soporte 24/7</h4>
      <p>Nuestro equipo de soporte está disponible las 24 horas del día, los 7 días de la semana.</p>
    </div>
    <div class="col-md-3 mx-2">
      <img src="../../assets/img/g3.png" alt="Garantía de devolución del dinero" class="img-fluid custom-img mb-4" style="background-color: #0FDD5B;">
      <h4>Panel seguro y ciberseguro</h4>
      <p>Optimiza tu gestión con Plesk o Cpanel. Configura correos electrónicos, FTP y bases de datos de manera sencilla.</p>
    </div>
  </div>
  <!-- Contenido al final de la sección -->
  <div class="row mt-5 text-white">
    <div class="col">
      <h1 class="mt-3">Garantía de devolución del dinero en 30 días</h1>
      <p>Prueba nuestro producto con confianza, tienes 30 días para solicitar un reembolso completo si no quedas satisfecho.</p>
      <button class="btn btn-primary" style="background: #F49A24;border-radius: 28px;">Comenzar</button>
    </div>
  </div>
</div>
