<footer class="border-top py-5" style="color: #808080;">
  <div class="container">
    <div class="row">
      <!-- Logo y Descripción de la Empresa -->
      <div class="col-md-3">
        <!-- Aquí puedes insertar tu logo de la empresa -->
        <img src="../../../assets/img/0_CLOUDCODE 1.png" alt="Logo de la Empresa" style="max-width: 100%; height: auto;">
        <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elem</p>
      </div>
      <!-- Hosting -->
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-3">
            <h5>Hosting</h5>
            <ul class="list-inline">
              <li><a href="#">Web Hosting</a></li>
              <li><a href="#">Share Hosting</a></li>
              <li><a href="#">Cloud Hosting</a></li>
            </ul>
          </div>
          <!-- Dominio -->
          <div class="col-md-4">
            <h5>Dominio</h5>
            <ul class="list-inline">
              <li><a href="#">Dominio Gratis</a></li>
              <li><a href="#">Comprobación Dominio</a></li>
              <li><a href="#">Transferir Dominio</a></li>
            </ul>
          </div>
          <!-- CRM -->
          <div class="col-md-3">
            <h5>CRM</h5>
            <ul class="list-inline">
              <li ><a href="#">Soporte</a></li>
              <li ><a href="#">Preguntas Frecuentes</a></li>
            </ul>
          </div>
          <!-- Empresa -->
          <div class="col-md-2">
            <h5>Empresa</h5>
            <ul class="list-inline">
              <li><a href="#">acerca de</a></li>
              <li><a href="#">Porque elegirnos</a></li>
            </ul>
          </div>
        </div>
        <!-- Ayuda -->
        <div class="col-md-3 mt-4">
          <h5>Ayuda</h5>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Soporte</a></li>
            <li class="list-inline-item"><a href="#">Preguntas Frecuentes</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <!-- Políticas de Privacidad -->
        <p class="col-2" >Política de Privacidad</p>
        <p class="col-3" >Términos & Condiciones</p>

    </div>
    <div class="row mt-4">
      <!-- Derechos de autor -->
      <div class="col-md-12 text-center">
        <p>&copy; 2023 CODE. Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>
