<div class="boody" style="height: 100vh;">
    <div class="container-main container-fluid text-center" style="background-color: #005CFE; padding: 30px; color: white;">
        <div class="container">
            <div class="row mt-4 justify-content-center">
                <div class="col col-8 text-center">
                    <h2>Potencia tu presencia en línea con nuestros servicios.</h2>
                    <div class="input-group mt-4 p-2" style="background-color: #a6c6ff; border-radius: .5rem;">
                        <input type="text" class="form-control" placeholder="Busque su nombre de dominio"
                            style="border-radius: 20px 0 0 20px;">
                        <select class="custom-select" id="urlExtension" style="border-radius: 0;">
                            <option value=".com" selected>.com</option>
                            <option value=".net">.net</option>
                            <option value=".org">.org</option>
                            <!-- Agrega más opciones según sea necesario -->
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button"
                                style="border-radius: 0 20px 20px 0;">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-2">
                <div class="row text-center justify-content-center">
                    <div class="col-md-2">
                        <div class="card d-inline-block" style="border: #F49A24; background: #F49A24; margin: 0 auto;">
                            <div class="card-body">
                                <h5 class="card-title text-dark">.com</h5>
                            </div>
                        </div>
                        <p class="price">Precio: $10</p>
                    </div>
                    <div class="col-md-2">
                        <div class="card d-inline-block" style="border: #F49A24; background: #F49A24; margin: 0 auto;">
                            <div class="card-body">
                                <h5 class="card-title text-dark">.com</h5>
                            </div>
                        </div>
                        <p class="price">Precio: $10</p>
                    </div>
                    <div class="col-md-2">
                        <div class="card d-inline-block" style="border: #F49A24; background: #F49A24; margin: 0 auto;">
                            <div class="card-body">
                                <h5 class="card-title text-dark">.com</h5>
                            </div>
                        </div>
                        <p class="price">Precio: $10</p>
                    </div>
                    <div class="col-md-2">
                        <div class="card d-inline-block" style="border: #F49A24; background: #F49A24; margin: 0 auto;">
                            <div class="card-body">
                                <h5 class="card-title text-dark">.com</h5>
                            </div>
                        </div>
                        <p class="price">Precio: $10</p>
                    </div>
                    <div class="col-md-2">
                        <div class="card d-inline-block" style="border: #F49A24; background: #F49A24; margin: 0 auto;">
                            <div class="card-body">
                                <h5 class="card-title text-dark">.com</h5>
                            </div>
                        </div>
                        <p class="price">Precio: $10</p>
                    </div>
                    <div class="col-md-2">
                        <div class="card d-inline-block" style="border: #F49A24; background: #F49A24; margin: 0 auto;">
                            <div class="card-body">
                                <h5 class="card-title text-dark">.com</h5>
                            </div>
                        </div>
                        <p class="price">Precio: $10</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>