<div class="container-main container-fluid text-center" style="background-color: #005CFE; padding: 30px; color: white;">
  <div class="container">
    <div class="row mt-4 justify-content-center">
      <div class="col col-12 col-md-8 text-center">
        <h1>Potencia tu presencia en línea con  nuestros servicios.</h1>
        <div class="input-group p-2" style="background-color: #a6c6ff; border-radius: .5rem; margin-top: 10.2rem">
          <input type="text" class="form-control" placeholder="Busque su nombre de dominio" style="border-radius: .5rem 0 0 .5rem;  height: 50px;">
          <select class="custom-select mr-2" id="urlExtension" style="border-radius: 0 .5rem .5rem 0;max-width: 75px; height: 50px;">
            <option value=".com" selected>.com</option>
            <option value=".net">.net</option>
            <option value=".org">.org</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-primary" type="button" style="border-radius: 0.5rem;min-width: 100px">
               Buscar <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mt-4 col col-12 col-md-8 d-flex justify-content-around">
      <div class="row container justify-content-center ">
        <div class="col-5 col-md-2">
          <div class="card d-inline-block" style="border: #F49A24; background: #F49A24;min-width: 100px">
            <div class="card-body text-center py-2">
              <h5 class="card-title text-white" style="word-wrap: break-word;">.com</h5>
            </div>
          </div>
          <p class="price">$8.99</p>
        </div>
        <div class="col-5 col-md-2 ">
          <div class="card d-inline-block " style="border: #F49A24; background: #F49A24;min-width: 100px ">
            <div class="card-body text-center py-2">
              <h5 class="card-title text-white" style="word-wrap: break-word;" style="word-wrap: break-word;">.online</h5>
            </div>
          </div>
          <p class="price">$0.99</p>
        </div>
        <div class="col-5 col-md-2 ">
          <div class="card d-inline-block" style="border: #F49A24; background: #F49A24;min-width: 100px">
            <div class="card-body text-center py-2">
              <h5 class="card-title text-white" style="word-wrap: break-word;">.xyz</h5>
            </div>
          </div>
          <p class="price">$1.99</p>
        </div>
        <div class="col-5 col-md-2 ">
          <div class="card d-inline-block" style="border: #F49A24; background: #F49A24;min-width: 100px">
            <div class="card-body text-center py-2">
              <h5 class="card-title text-white" style="word-wrap: break-word;">.link</h5>
            </div>
          </div>
          <p class="price">$3.99</p>
        </div>
        <div class="col-5 col-md-2 ">
          <div class="card d-inline-block" style="border: #F49A24; background: #F49A24;min-width: 100px">
            <div class="card-body text-center py-2">
              <h5 class="card-title text-white" style="word-wrap: break-word;">.live</h5>
            </div>
          </div>
          <p class="price">$4.99</p>
        </div>
        <div class="col-5 col-md-2">
          <div class="card d-inline-block " style="border: #F49A24; background: #F49A24; min-width: 100px">
            <div class="card-body text-center py-2">
              <h5 class="card-title text-white" style="word-wrap: break-word;">.digital</h5>
            </div>
          </div>
          <p class="price">$5.99</p>
        </div>

        <!-- Repite este bloque para agregar más elementos -->
      </div>

    </div>
  </div>
</div>

